.p-image {
  position: relative;
  text-align: center;
}
.image-helper {
  transition: 1s ease;
  color: white;
  font-weight: 700;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product {
  margin: 10px;
  background-color: #f6f9fb;
  border-radius: 5px;
  transition: 0.7s;
}
.product:hover {
  filter: brightness(60%);
}
.separator {
  margin-left: 1.2em;
  width: 150px;
  border-top: 4px solid #4f705d;
}
.wrap {
  width: fit-content;
}

@media (min-width: 768px) {
  .product {
    width: calc(33.33% - 20px) !important;
  }
}
