body {
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-weight: 700 !important;
  color: #4a5568;
  text-transform: uppercase;
  font-size: 1.75rem !important;
}
h3 {
  font-weight: 700 !important;
  color: #555c69b6;
  font-size: 1rem !important;
}

main {
  display: flex !important;
  height: 100vh;
  max-width: 100vw;
}
.content {
  text-align: center;
  flex: 5;
}
.side-menu {
  flex: 1;
  background-color: #edf2f7;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 3fr;
  justify-items: center;
  align-items: center;
}
.image-holder {
  display: flex;
  justify-content: center;
}
.sub-menu {
  text-align: center;
  width: 100%;
}
.sub-menu h1 {
  padding: 1.3em 2em;
}
.title:hover {
  transition: 0.7s;
  background-color: #c1c4c7;
  cursor: pointer;
}
.product-card {
  transition: 0.5s;
}
.product-card:hover {
  filter: brightness(90%);
  cursor: pointer;
}
#edit-icon {
  transition: 0.5s;
  visibility: hidden;
}
#edit-icon.active {
  visibility: visible !important;
}
